<section class="content" >
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-8 col-offset-3 form">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Project</h3><br/>
     
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form [formGroup]="projectEntry" (ngSubmit)="onsubmit()">
              <div class="card-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Project Title</label>
                  <input type="text" class="form-control" [formControlName]="'project_title'" id="title" pattern="[a-zA-Z]*" name="title" placeholder="Enter title" autocomplete="off">
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1">Assigned To</label>
                  <select name="" id="" class="form-control" [formControlName]="'assigned_to'" (ngModelChange)="onChange($event)" >
                      <option [ngValue]="null" [disabled]="true">select user</option>
                      <option *ngFor="let users of users" [value]="users.id">{{users.userName}}</option>
                  </select>
                </div>

                  <div class="form-group">
                    <label for="exampleInputEmail1">Start Date</label>
                    <input type="date" class="form-control" [formControlName]="'start_date'" id="date1" name="date" >
                  </div>
                  
                  <div class="form-group">
                    <label for="exampleInputEmail1">End Date</label>
                    <input type="date" class="form-control" id="date2" [formControlName]="'end_date'" name="date2" >
                  </div>

                <div class="form-group">
                  <label for="exampleInputPassword1">Description</label>
                  <textarea class="form-control" name="description" id="description" cols="30" [formControlName]="'description'" rows="3" autocomplete="off"></textarea>
                </div>
              
                </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit"[disabled]="!projectEntry.valid" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.card -->

    


          <!-- /.card -->

        </div>
        <!--/.col (left) -->
        <!-- right column -->
 
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>